<div style="color : white">


<h1>Welcome, {{ userData.fullName }}</h1>
  <p>Email: {{ userData.email }}</p>
  <p>BirthDay: {{ userData.date_of_birth}}</p>
  <p>Joined: {{ userData.createdAt }}</p>
</div>
