<div style="color : white">


<h1>{{ userData.fullName }}</h1>
  <p>Email: {{ userData.email }}</p>
  <p>Joined: {{ userData.createdAt.toFormat('DDDD') }}</p>

  @if (isFollowing)
  <button id="follow-button" data-action="unfollow" data-id="{{ userData.id }}">Abonné</button>
@else
  <button id="follow-button" data-action="follow" data-id="{{ userData.id }}">S'abonner</button>
@endif
</div>
