<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Accueil / x </title>
  <meta name="csrf-token" content="{{ csrfToken }}">

  @vite('resources/css/app.css')
</head>
<body>
  <main id="root">
  {{{ await $slots.main() }}}
  </main>
</body>
@vite('resources/js/app.js')
</html>
