<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Home / x </title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  <main id="root">
  {{{ await $slots.main() }}}
  </main>
</body>
</html>
