@layouts.app('title', 'Home')
 <div class="timeline">


   {{--  @each(user in userData)  --}}

   @component('components/informations', {userData, isFollowing})
   @endcomponent
 {{--  @end  --}}
 @component('components/footer')
   @endcomponent

 </div>
 @end
