@layouts.app('title', 'Home')
 <div class="timeline">
   @component('components/header')
   @endcomponent
   @component('components/tweetEditor')
   @endcomponent

   @component('components/information')
   @endcomponent

 </div>
 @end
