<!-- Content for all tweets -->
<div id="content-all" class="tab-content active">
  @each(tweet in enrichedTweets)
    @component('components/tweet', {tweet})
    @endcomponent
  @end
</div>

<!-- Content for following tweets -->
<div id="content-following" class="tab-content">
  @each(tweet in enrichedFollowingTweets)
    @component('components/tweet', {tweet})
    @endcomponent
  @end
</div>